.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.left{
  margin-right: 3vw;
}
body {
  background-color: #393E46;
}

h1 {
  margin: 1vw;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8vw;
  color: #4ECCA3;
}

p {
  font-size: 3.5vw;
  margin-top: 3vw;
  margin-bottom: 0.5vw;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 15vw;
}

footer {
  margin-top: 2%;
  margin-right: 20vw;
  margin-bottom: 30px;
  color: #EEEEEE;
  text-align: right;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5vw;

}
#btn {
  margin-top: 3%;
  width: 17vw;
  height: 5vw;
  border: 2px solid #2b735b;
  border-radius: 5px;
  background-color: #195c4e;
  box-shadow: 0px 3px 0px #074e3f;
  color:#e1e1e1;
  cursor: pointer;
  position: relative;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #185347;
  font-size: 3vw;
  font-weight: 1000;
}

#btn:hover {
  background-color: #4ecca3;
  color: #0d3b2d;
  box-shadow: none !important;
  text-shadow: none !important;
}
