body {
  background-color: #393e46;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 30px 0px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 2%;
  margin-right: 10%;
 
  color: #eeeeee;
  text-align: right;
  font-family: "Indie Flower", cursive;
}

.dice {
  text-align: center;
  display: inline-block;
}
.nofont {
  font-family: Arial, Helvetica, sans-serif;
}
#btn {
  margin-top: 5%;
  width: 150px;
  height: 50px;
  border: 2px solid #2b735b;
  border-radius: 5px;
  background-color: #195c4e;
  box-shadow: 0px 3px 0px #074e3f;
  color: #e1e1e1;
  cursor: pointer;
  position: relative;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #185347;
  font-size: 30px;
  font-weight: 1000;
}

#btn:hover {
  background-color: #4ecca3;
  color: #0d3b2d;
  box-shadow: none !important;
  text-shadow: none !important;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 20px;
  }

  #btn {
    margin-top: 15%;
    width: 30%;
    height: 10%;
    font-size: 20px;
  }
  img {
    width: 80%;
  }
  .dice{
    width: 40%;
  }
}
